# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
*.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Firebase
google-services.json
GoogleService-Info.plist

# Misc
*.log
*.iml
